# What's driving prime-age non-participation since March 2001?

In [1]:
# Import preliminaries
import pandas as pd
import numpy as np

import os

os.chdir('/home/brian/Documents/CPS/data/clean/')

In [2]:
# Age and sex demographics in March 2001
filter_cols = ['AGE', 'FEMALE', 'NILFREASON', 'BASICWGT', 'MONTH']
df = (pd.read_feather('cps2001.ft', columns=filter_cols)
        .query('MONTH == 3 and 25 <= AGE <= 54'))

# Create dictionary with sex and age distribution in March 2001
dem_2001 = {}
for sex in [0, 1]:
    dfs = df[df['FEMALE'] == sex]
    age_dict = (dfs.groupby('AGE').BASICWGT.sum()
                / dfs.BASICWGT.sum()).to_dict()
    for age in age_dict.keys():
        dem_2001[(sex, age)] = age_dict[age]

In [3]:
df = (pd.read_feather('cps2019.ft', columns=filter_cols)
        .query('MONTH == 2 and 25 <= AGE <= 54'))

dem_adj = {}
for sex in [0, 1]:
    dfs = df[df['FEMALE'] == sex]
    age_dict = (dfs.groupby('AGE').BASICWGT.sum()
                / dfs.BASICWGT.sum()).to_dict()
    for age in age_dict.keys():
        dem_adj[(sex, age)] = dem_2001[(sex, age)] / age_dict[age]

In [6]:
df['COMBO'] = list(zip(df['FEMALE'], df['AGE']))
df['ADJWGT'] = df['COMBO'].map(dem_adj) * df['BASICWGT']

In [7]:
df

       MONTH  AGE     BASICWGT FEMALE    NILFREASON    COMBO       ADJWGT
5          2   31  2719.619873      0           nan  (0, 31)  2682.596074
8          2   29  2759.212646      1           nan  (1, 29)  2276.132577
12         2   33  1813.669556      0  Disabled/Ill  (0, 33)  1547.781231
15         2   52  2095.983643      1           nan  (1, 52)  2095.924769
19         2   45  2676.436035      0           nan  (0, 45)  3468.070368
20         2   28  2652.018311      1           nan  (1, 28)  2216.506332
21         2   28  3119.887695      0           nan  (0, 28)  2489.851822
22         2   31  1689.695557      1           nan  (1, 31)  1530.422333
23         2   42  2751.528320      0           nan  (0, 42)  3029.011909
27         2   33  2745.097168      0           nan  (0, 33)  2342.659313
30         2   36  1540.023804      1           nan  (1, 36)  1564.767428
33         2   33  2004.545166      1           nan  (1, 33)  1814.634358
36         2   37  2781.294434      0           nan  (0, 37)  2960.461067
40         2   28  1878.055176      1           nan  (1, 28)  1569.642703
41         2   32  3030.267822      0           nan  (0, 32)  3053.413452
43         2   54  2282.230469      1           nan  (1, 54)  2012.552726
45         2   44  1637.552002      0           nan  (0, 44)  2070.740440
46         2   36  1731.151611      0           nan  (0, 36)  1923.811635
47         2   33  1816.996582      1           nan  (1, 33)  1644.854145
51         2   27  2119.044678      0           nan  (0, 27)  1783.665584
52         2   25  1813.154419      0           nan  (0, 25)  1654.056065
54         2   26  2299.745117      0           nan  (0, 26)  1752.903713
55         2   38  1913.263428      1           nan  (1, 38)  2203.172951
60         2   54  2057.223877      0           nan  (0, 54)  1748.683361
61         2   49  2210.419922      1        Family  (1, 49)  2187.847988
63         2   46  2010.947754      1           nan  (1, 46)  2144.452914
64         2   39  2377.669678      1         Other  (1, 39)  2435.982852
65         2   27  1830.140015      0           nan  (0, 27)  1540.485575
67         2   37  2755.481201      0           nan  (0, 37)  2932.984987
73         2   34  1841.933350      1           nan  (1, 34)  1783.370907
...      ...  ...          ...    ...           ...      ...          ...
118975     2   52   258.574097      1           nan  (1, 52)   258.566834
118976     2   28   316.451508      1           nan  (1, 28)   264.484136
118978     2   38   292.580505      0           nan  (0, 38)   310.334402
118979     2   48   301.196198      1  Disabled/Ill  (1, 48)   301.931202
118983     2   28   269.091614      0           nan  (0, 28)   214.750757
118987     2   34   327.609497      0           nan  (0, 34)   330.122961
118988     2   35   319.496490      1   Discouraged  (1, 35)   344.226516
118990     2   40   288.860107      1           nan  (1, 40)   343.212515
118996     2   29   849.507690      1           nan  (1, 29)   700.776771
118998     2   45   300.590515      0           nan  (0, 45)   389.498962
118999     2   46   308.355804      1           nan  (1, 46)   328.827292
119002     2   50   438.811707      0           nan  (0, 50)   400.338364
119003     2   54   362.611511      0           nan  (0, 54)   308.227375
119004     2   44   376.122894      1           nan  (1, 44)   466.610894
119007     2   35   296.084595      1        Family  (1, 35)   319.002466
119008     2   28   352.752899      0           nan  (0, 28)   281.517328
119013     2   42   287.821991      1           nan  (1, 42)   323.238181
119014     2   43   417.224487      0           nan  (0, 43)   529.942377
119021     2   35   408.765289      0           nan  (0, 35)   440.882923
119022     2   33   270.059204      1           nan  (1, 33)   244.473768
119028     2   53   266.131104      1           nan  (1, 53)   227.672429
119029     2   47   304.145294      0        Family  (0, 47)   297.086675
119030     2   38   230.469894      1           nan  (1, 38)   265.392120
119035     2   27   269.091614      0           nan  (0, 27)   226.502752
119036     2   49   255.856598      1           nan  (1, 49)   253.243892
119037     2   43   414.088989      0           nan  (0, 43)   525.959789
119038     2   44   285.658997      1           nan  (1, 44)   354.383106
119041     2   34   264.377502      1           nan  (1, 34)   255.971882
119042     2   31   264.377502      1           nan  (1, 31)   239.456885
119043     2   32   334.036194      0           nan  (0, 32)   336.587611

[44858 rows x 7 columns]

In [ ]:
dem_adj

In [ ]:
df = (pd.read_feather('cps2019.ft', columns=filter_cols)
        .query('MONTH == 2 and 25 <= AGE <= 54'))

# Create dictionary with sex and age distribution in current month
dem_adj = {}
for sex in [0, 1]:
    dfs = df[df['FEMALE'] == sex]
    age_dict = (dfs.groupby('AGE').BASICWGT.sum()
                / dfs.BASICWGT.sum()).to_dict()
    for age in age_dict.keys():
        
        dem_adj[(sex, age)] = #age_dict[age]

df['COMBO'] = list(zip(df['FEMALE'], df['AGE']))

In [ ]:
df['COMBO'] = list(zip(df['FEMALE'], df['AGE']))
df['COMBO'].map(dem_2001)

In [ ]:
df['COMBO'].map(dem_2001)

In [ ]:
df = (pd.read_feather('cps2019.ft', columns=filter_cols)
        .query('MONTH == 2 and 25 <= AGE <= 54'))

dem_curr = {}
for sex in [0, 1]:
    dfs = df[df['FEMALE'] == sex]
    dem_curr[sex] = (dfs.groupby('AGE').BASICWGT.sum()
                     / dfs.BASICWGT.sum()).to_dict()

In [ ]:
dem_2001[0][29] / dem_curr[0][29]

In [ ]:
df = (pd.read_feather('cps2019.ft', columns=filter_cols)
        .query('MONTH == 2 and 25 <= AGE <= 54'))

# What share of total is each age in the current month?
age_curr = (df.groupby('AGE').BASICWGT.sum() / df.BASICWGT.sum()).to_dict()

# Ratio of March 2001 age distribution to current age distribution
age_adj = {age: dem_01['age'][age] / age_curr[age] for age in age_curr.keys()}

# Ratio then used to create adjusted weight
wgt_adj = df['AGE'].map(age_adj) * df['BASICWGT']

# Same for sex
sex_curr = (df.groupby('FEMALE').BASICWGT.sum() / df.BASICWGT.sum()).to_dict()
sex_adj = {sex: dem_01['sex'][sex] / sex_curr[sex] for sex in sex_curr.keys()}
wgt_adj = df['FEMALE'].map(sex_adj) * wgt_adj


df['ADJWGT'] = wgt_adj

In [ ]:
df

In [ ]:

    
    
    
#    d_age = (df.groupby('AGE').BASICWGT.sum() / df.BASICWGT.sum()).to_dict()
#d_sex = (df.groupby('FEMALE').BASICWGT.sum() / df.BASICWGT.sum()).to_dict()
#dem_01 = {'age': d_age, 'sex': d_sex}

In [ ]:
dem_2001

In [ ]:
# Calculations for each month since March 2001
results = pd.DataFrame()
filter_cols = ['AGE', 'FEMALE', 'NILFREASON', 'EDUC', 'BASICWGT', 'MONTH']

for year in range(2001, 2020):
    data = (pd.read_feather(f'cps{year}.ft', columns=filter_cols)
              .query('25 <= AGE <= 54'))
    for i, df in data.groupby('MONTH'):
        date = pd.to_datetime(f'{year}-{i}-01')

In [ ]:
# Base period demographics
def base_period_demographics(base_period):
    """Function calculates the demographic share each category has in a specific 
       Month and Year that is input as a tuple. It returns age, sex, and educ as
       as share of the total population in a dictionary."""
    df = pd.read_feather(f'cps{base_period[0]}.ft')
    df = df[(df['AGE'].between(16, 80)) & (df['MONTH'] == base_period[1])]
    #Calculate each category of age, sex, educ as share of total and store as dict
    aged = (df.groupby('AGE')['BASICWGT'].sum() / df['BASICWGT'].sum()).to_dict()
    sexd = (df.groupby('FEMALE')['BASICWGT'].sum() / df['BASICWGT'].sum()).to_dict()
    educd = (df.groupby('EDUC')['BASICWGT'].sum() / df['BASICWGT'].sum()).to_dict()
    return {'da_age': aged, 'da_sex': sexd, 'da_educ': educd}